* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(42, 43, 43);
}

ul {
  list-style: none;
}

a {
  color: aliceblue;
  text-decoration: none;
}

p {
  color: aliceblue;
}

strong {
  color: aliceblue;
}

span {
  color: aliceblue;
}

h4 {
  color: aliceblue;
}

h3 {
  color: aliceblue;
}

.header {
  background-color: rgb(60, 106, 106);
  color: aliceblue;
  padding: 20px;
}

.header__tittle {
  text-align: center;
}

.header__nav ul {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header__nav {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .header nav {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .header nav {
    width: 25%;
  }
}
.footer {
  background-color: rgb(154, 154, 155);
}

.iconos__redes {
  font-size: 2rem;
  color: rgb(60, 106, 106);
  text-align: left;
  justify-items: flex-start;
}

.contenedor__formulario {
  display: flex;
  background-color: rgba(60, 106, 106, 0.281);
  color: aliceblue;
  text-align: right;
  justify-content: space-evenly;
  padding: 15px;
  margin: 15px;
}

.card__micuenta {
  display: flex;
  background-color: rgba(60, 106, 106, 0.281);
  padding: 0px 0px;
  margin: 5px;
  border: 2px solid transparent;
  height: 180px;
  width: 280px;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .card__micuenta {
    padding: 0px 5px;
    margin: 0px, 5px;
    width: 495px;
  }
}
.contenedor {
  border: solid transparent 2px;
}

@media (min-width: 600px) {
  .contenedor {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
audio {
  width: 275px;
}

@media (min-width: 1024px) {
  audio {
    width: 460px;
  }
}
.subtitulos__micuenta {
  font-size: 1.2rem;
}

.subtitulo__letra {
  margin: 0px 0px 15px;
  padding: 15px;
  padding-left: 30px;
}

div p {
  padding-left: 30px;
  margin: 0px 0px 12px;
  max-width: 367px;
}

.card__micuentasinbtn {
  display: flex;
  background-color: rgba(60, 106, 106, 0.281);
  padding: 0px, 5px;
  margin: 5px;
  border: 2px solid transparent;
  height: 120px;
  width: 280px;
  flex-direction: column;
}

.card__micuentasinbtn audio {
  width: 275px;
}

@media (min-width: 600px) {
  .card__micuentasinbtn audio {
    width: 460px;
  }
}
@media (min-width: 600px) {
  .card__micuentasinbtn {
    padding: 0px 5px;
    margin: 0px, 5px;
    width: 495px;
  }
}
.video__youtube {
  height: 0px;
  padding-bottom: 56.25%;
  position: relative;
}

.video__youtube iframe {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.youtube__wrapper {
  width: 90%;
}

@media (min-width: 600px) {
  .youtube__wrapper {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .youtube__wrapper {
    width: 50%;
  }
}
.noticia {
  display: grid;
  grid-column: 50%, 50%;
}

.noticia__titulo {
  font-size: 18px;
}

.destacados__portada {
  background-color: rgb(156, 155, 156);
  padding: 10px;
  margin: 10px 0px;
  text-align: center;
  font-size: 1.3rem;
}

.tarjeta__apocalypse {
  background-color: rgba(60, 106, 106, 0.281);
  padding: 3px;
  margin: 3px;
  border: 1px solid transparent;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  align-items: center;
}

.tarjeta__imagenes {
  width: 15rem;
}

@media (min-width: 1024px) {
  .tarjeta__apocalypse {
    height: 400px;
  }
  .tarjeta__imagenes {
    width: 20rem;
  }
}
.slider {
  display: flex;
  overflow: auto;
}

.video {
  width: 280px;
  height: 157px;
}

@media (min-width: 770px) {
  .video {
    width: 560px;
    height: 315px;
  }
}
.btn {
  border: 2px solid rgb(154, 154, 155);
  background-color: rgb(154, 154, 155);
  border-radius: 15px;
  margin: 15px;
  padding: 1px 5px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
