.subtitulo__letra {

    margin: 0px 0px 15px;
    padding: 15px;
    padding-left: 30px;
}

div p {
    padding-left: 30px;
    margin: 0px 0px 12px;
    max-width: 367px;
}

.card__micuentasinbtn {
    display: flex;
    background-color: rgba(60, 106, 106, 0.281);
    padding: 0px, 5px;
    margin: 5px;
    border: 2px solid transparent;
    height: 120px;
    width: 280px;
    flex-direction: column;
}
.card__micuentasinbtn audio {
    width: 275px;
  }
  
  @media (min-width: 600px) {
    .card__micuentasinbtn audio {
      width: 460px;
    }
  }
  @media (min-width: 600px) {
    .card__micuentasinbtn {
      padding: 0px 5px;
      margin: 0px,5px;
      width: 495px;
    }
  }
