.card__micuenta {
    display: flex;
    background-color: rgba(60, 106, 106, 0.281);
    padding: 0px 0px;
    margin: 5px;
    border: 2px solid transparent;
    height: 205px;
    width: 280px;
    flex-direction: column;
  }
  
  @media (min-width: 1024px) {
    .card__micuenta {
      padding: 0px 5px;
      margin: 0px,5px;
      width: 495px;
    }
  }
  
  .contenedor {
    border: solid transparent 2px;
  }
  
  @media (min-width: 600px) {
    .contenedor {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
  
  audio {
    width: 275px;
  }
  
  @media (min-width: 1024px) {
    audio {
      width: 460px;
    }
  }
  
  .subtitulos__micuenta {
    font-size: 1.2rem;
  }