.contenedor__formulario {
    display: flex;
    background-color: rgba(60, 106, 106, 0.281);
    color: aliceblue;
    text-align: right;
    justify-content: space-evenly;
    padding: 15px;
    margin: 15px;
}
 