.footer{
    background-color: rgb(154, 154, 155);
    /* background-image: url(../assets/footerportada.jpg); */
    /* height: 150px;
    width: 100%;

    padding: 50px;
    margin: 5px 0px;
    text-align: center;
    font-size: 1.3rem;
    justify-content: space-around; */
}
.iconos__redes {
    font-size: 2rem;
    color: rgb(60, 106, 106);
    text-align: left;
    justify-items: flex-start;
}
