.header{
    background-color: rgb(60, 106, 106);
    color: aliceblue;
    padding: 20px;
}

.header__tittle{
    text-align: center;

}

.header__nav ul {
    padding: 10px;
    display:flex;
    justify-content: space-between;
}

@media (min-width:768px){
    .header{ 
        display: flex;
        justify-content: space-between;
    }
    .header__nav{
        width: 35%;
    }
}

@media (min-width:1024px) {
    .header nav{
    width: 30%;
    }
}
@media(min-width:1200px){
    .header nav{
        width: 25%;
    }
}