.btn {
    border: 2px solid rgb(154, 154, 155);
    background-color: rgb(154, 154, 155);
    border-radius: 15px;
    margin: 3px;
    padding: 1px 5px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}