body{
    background-color: rgb(42,43,43);
}

ul{
    list-style: none;
}
a{
    color:$color-font;
    text-decoration: none;
}


p{
    color:$color-font;
}
strong{
    color: $color-font;
}
span{
    color:$color-font;
}
h4{
    color: $color-font;
}
h3{
    color:$color-font;
}
