body{
    background-color: rgb(42,43,43);
}
ul{
    list-style: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}
p{
    color: aliceblue;
}
strong{
    color: aliceblue;
}
span{
    color: aliceblue;
}
h4{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
